<div th:fragment="login-modal" xmlns:th="http://www.thymeleaf.org"
	class="modal fade" id="signInModel" tabindex="-1" role="dialog"
	aria-labelledby="signInModelTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class=" modal-title ml-3 font-weight-bold" id="signInModelTitle">
					Đăng Nhập</h2>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<form id="login-form">
						<p class="mt-1 mb-1 font-weight-bold">Tài Khoản</p>
						<input name="username" type="text" id="inputUser_signIn"
							class="mb-3 form-control" placeholder="Nhập Tài Khoản"
							required="" autofocus="true">
						<p class="mt-3 mb-1 font-weight-bold">Mật Khẩu:</p>
						<input name="password" type="password" id="inputPassword_signIn"
							class="mb-3 form-control" placeholder="Nhập Mật Khẩu" required="">
						<div class="form-message text-danger text-center"></div>
						<button
							class="login-btn rounded-lg my-3 mt-2 btn-lg btn hvr-hover text-light col-sm-12 rounded-lg"
							type="submit">Đăng Nhập</button>
						<button id="facebook-login-btn" type="button"
							class="login-btn rounded-lg my-3 mt-2 btn-lg btn hvr-hover text-light col-sm-12 rounded-lg"
							>Đăng Nhập Facebook<i class="ml-3 fab fa-facebook" aria-hidden="true"></i></button>

						</fb:login-button>
						<div class="row">
							<div class="col-6 mx-auto">
								<p class="text-center font-weight-bold">
									<a href="#" class="mx-auto" data-toggle="modal"
										data-target="#forgetPass" data-dismiss="modal"
										aria-label="Close">Quên Mật Khẩu</a>
								</p>
							</div>
							<div class="col-6 mx-auto">
								<p class="text-center font-weight-bold">
									<a href="#" class="mx-auto" data-toggle="modal"
										data-target="#createAccountModel" data-dismiss="modal"
										aria-label="Close">Đăng Ký</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>