/** ADD YOUR AWESOME CODES HERE **/
.productName {
	font-family: Arial, sans-serif;
}

/** My Account Page**/
/* Account header */
.profile-card {
	height: 150px;
	width: 200px;
	padding: 10px;
	margin-right: 20px;
	overflow: visible;
	position: relative;
}

.profile-img {
	width: 180px;
	height: 180px;
	padding: 5px;
	background-color: white;
	object-fit: cover;
	position: absolute;
	bottom: 10px;
	border: solid 1px grey;
	border-radius: 3px;
}

/* Side Menu */

.sidebar-nav .active {
	background-color: beige;
}

.sidebar-nav li:hover {
	background-color: beige;
}

/* Quiz Attempts */
.sort-option .dropdow-toggle::after {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 18px;
}

.quiz-list .card:hover {
	background-color: beige;
}

.quiz-list .quiz-feature {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: solid 1px grey;
	border-radius: 5px;
}

/* Quiz Explore */
.quiz-level {
	position: relative;
	width: 100%;
	--width: calc(100%);
	height: 0;
	padding-bottom: calc(var(--width) * 2 / 3);
}

.level-image {
	position: absolute;
	width: 100%;
	border-radius: 5px;
	border: solid 4px gold;
}

.quiz-level .quiz-title-block {
	position: absolute;
	top: 20%;
	width: 100%;
	--width: calc(100%);
	height: calc(var(--width) * 2 / 3) !important;
}
