<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/student-layout.html}">

<head>
<title>Tài khoản cá nhân</title>
<th:block layout:fragment="css">
	<!--header_custom CSS-->
	<link rel="stylesheet"
		th:href="@{/resources/css/my-css/custom-my-account-detail.css}">
</th:block>
<th:block layout:fragment="scripts">
	<script th:src="@{/resources/js/my-js/update-user-profile.js}"></script>
</th:block>
</head>

<body th:with="boxTitle='Tài khoản cá nhân',isUserPage=true,isMyProfilePage=true">
	<th:block layout:fragment="main">
		<main class="container-fluid">
			<div
				th:replace="fragments/student/account/account-head-box :: account-head-box"></div>
			<section class="container">
				<div
					th:replace="fragments/student/account/account-second-box :: account-second-box"></div>
				<div class="row mt-3">
					<div
						th:replace="fragments/student/account/account-menu :: account-menu"></div>
					<main class="col-sm-8">
						<section class="sort-option container">
							<div class="sub-page">
								<h2>My profile</h2>
							</div>
						</section>
						<section class="profile-info container my-2">
							<div class="contact-form-right userinfo-form p-0">
								<form id="update-user-profile-form" class="p-4">
									<div class="row">
										<div class="col-md-12 h-75">
											<div class="form-group mb-3">
												<label for="">Email:</label> <input type="text"
													placeholder="Your Email" class="form-control"
													th:value="${user.email}" disabled>
												<div class="text-danger"></div>
											</div>
										</div>
										<div class="col-md-12 h-75">
											<div class="form-group mb-3">
												<label>Họ tên người dùng: </label> <input type="text"
													class="form-control" name="name" placeholder="Họ và tên"
													 th:value="${user.name}">
												<div class="text-danger"></div>
											</div>
										</div>
										<div class="col-md-12 h-75">
											<div class="form-group mb-3">
												<label>Avatar: </label> <input class="form-control"
													id="avatar" type="file" name="avatar" accept="image/*">
												<div class="text-danger"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="submit-button text-center">
												<button class="btn hvr-hover" id="submit" type="submit">Cập
													nhật</button>
												<div id="msgSubmit" class="h3 text-center hidden"></div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</section>
					</main>
				</div>
			</section>
		</main>
	</th:block>

</body>

</html>