<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Basic -->
<head>
<th:block th:insert="~{layout/student-layout :: meta}"></th:block>
<title>Reset Mật Khẩu</title>
<th:block th:insert="~{layout/student-layout :: link}"></th:block>
<th:block layout:fragment="css">
	<style>
body, html {
	height: 100%;
}

.card-header {
	background-color: #b0b435;
	color: white;
}

.small-part {
	height: 25vh;
}

.big-part {
	height: 50vh;
}
</style>
</th:block>
</head>

<body>
	<div class="container-fluid p-0">
		<div class="small-part">
			<div class="h-50" style="background-color: #b0b435;"></div>
		</div>
		<div class="container big-part">
			<div class="row justify-content-center align-items-center">
				<div class="col-5 m-0 p-0">
					<div class="card">
						<div class="card-header">Cập nhật mật khẩu</div>
						<div class="card-body">
							<div class="login-form">
								<form id="reset-password-form">
									<div class="form-group">
										<p class="mt-3 mb-1 font-weight-bold">Mật Khẩu Mới:</p>
										<input type="password" name="password" class="form-control"
											placeholder="Mật khẩu mới" required="required">
										<p class="error text-danger"></p>
									</div>
									<div class="form-group">
										<p class="mt-3 mb-1 font-weight-bold">Xác Nhận Mật Khẩu
											Mới:</p>
										<input type="password" name="confirmPassword"
											class="form-control" placeholder="Xác nhận mật khẩu Mới"
											required="required">
										<p class="error text-danger"></p>
									</div>
									<div class="form-message text-center"></div>
									<div class="form-group">
										<button type="submit"
											class="btn hvr-hover text-light btn-lg col-sm-12 rounded-lg">Cập
											nhật mật khẩu</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-part p-0">
			<div class="h-50"></div>
			<div class="h-50" style="background-color: #b0b435;"></div>
		</div>
	</div>
	<th:block th:insert="~{layout/student-layout :: script}"></th:block>
	<script th:src="@{/resources/js/my-js/reset-password.js}"></script>
</body>

</html>