<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/student-layout.html}">

<head>
<title>Đổi mật khẩu</title>
<th:block layout:fragment="css">
	<!--header_custom CSS-->
	<link rel="stylesheet"
		th:href="@{/resources/css/my-css/custom-my-account-detail.css}">
</th:block>
<th:block layout:fragment="scripts">
	<script th:src="@{/resources/js/my-js/update-password.js}"></script>
</th:block>
</head>

<body th:with="boxTitle='Đổi mật khẩu',isUpdatePassword=true,isUserPage=true">
	<th:block layout:fragment="main">
		<main class="container-fluid">
			<div
				th:replace="fragments/student/account/account-head-box :: account-head-box"></div>
			<section class="container">
				<div
					th:replace="fragments/student/account/account-second-box :: account-second-box"></div>
				<div class="row mt-3">
					<div
						th:replace="fragments/student/account/account-menu :: account-menu"></div>
					<main class="col-sm-8">
						<section class="sort-option container">
							<div class="sub-page">
								<h2 class="my-2">Đổi mật khẩu</h2>
							</div>
						</section>
						<section class="profile-info container my-2">
							<div class="contact-form-right userinfo-form p-0">
								<form id="update-password-form" class="p-4">
									<div class="row d-flex flex-column  align-items-center">
										<div class="col-md-6 h-75">
											<div class="form-group mb-3">
												<label for="">Mật khẩu hiện tại:</label> <input type="password"
													placeholder="Mật khẩu hiện tại" class="form-control"
													name="currentPassword" required>
												<div class="error text-danger"></div>
											</div>
										</div>
										<div class="col-md-6 h-75">
											<div class="form-group mb-3">
												<label for="">Mật khẩu mới:</label> <input type="password"
													placeholder="Mật khẩu mới" class="form-control"
													name="newPassword" required>
												<div class="error text-danger"></div>
											</div>
										</div>
										<div class="col-md-6 h-75">
											<div class="form-group mb-3">
												<label>Xác nhận mật khẩu mới: </label> <input type="password"
													class="form-control" name="confirmNewPassword"
													placeholder="Xác nhận mật khẩu mới" required>
												<div class="error text-danger"></div>
											</div>
										</div>

										<div class="col-md-12">
											<div class="submit-button text-center">
												<button class="btn hvr-hover" id="submit" type="submit">Cập
													nhật</button>
												<div id="submitMessage" class="h3 text-center hidden"></div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</section>
					</main>
				</div>
			</section>
		</main>
	</th:block>

</body>

</html>