<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/admin-layout.html}">
<head>
<title>Quizzes</title>
</head>
<body>
  <!-- Main content -->
  <th:block layout:fragment="main">
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <form action="#" th:action="@{/admin/edit-part(id=${part.id})}"
          th:object="${part}" method="post">
          <div class="row">
            <div class="col-lg-8">
              <div class="card card-outline card-teal shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <small>Part-</small> <input type="text"
                        th:field="*{content}" class="form-control"
                        placeholder="Content" /> <input type="hidden"
                        th:field="*{id}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button class="border-0 btn btn-light"
                        name="addSection" type="submit">
                        <i class="ion-android-add-circle"></i> New
                        Section
                      </button>
                    </div>
                    <div class="col-12">
                      <small>Section-</small>
                      <div id="coverAw"
                        th:each="section,sectionStat : *{sections}"
                        class="d-flex justify-content-center flex-wrap">
                        <div
                          class="card card-outline card-teal w-100 answer">
                          <div class="card-body pad d-flex flex-wrap">
                            <div class="card-tools ml-auto">
                              <!--                               <button type="button" -->
                              <!--                                 class="btn btn-tool btn-sm" -->
                              <!--                                 data-card-widget="collapse" -->
                              <!--                                 data-toggle="tooltip" title="Info"> -->
                              <!--                                 <i class="fas fa-minus"></i> -->
                              <!--                               </button> -->
                              <button class="border-0 btn btn-light"
                                name="addSection" type="submit">
                                <i class="ion-android-add-circle"></i>
                                New Question
                              </button>
                              <button type="submit" name="removeSection"
                                th:value="${sectionStat.index}"
                                class="btn btn-tool btn-sm"
                                data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i>
                              </button>
                            </div>
                            <textarea class="textarea"
                              th:field="*{sections[__${sectionStat.index}__].content}"
                              placeholder="Place some text here"
                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px; display: none;"></textarea>
                            <!--                             <input type="text" th:field="*{sections[__${sectionStat.index}__].content}" -->
                            <!--                               placeholder="Place some text here" -->
                            <!--                               style="width: 80%; font-size: 14px; line-height: 14px; border: 1px solid rgb(221, 221, 221); padding: 10px;" /> -->
                            <input type="hidden"
                              th:field="*{sections[__${sectionStat.index}__].id}" />
                            <!-- tools box -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <div>
                        <button class="btn btn-sm bg-teal">Cancel</button>
                        <button type="submit"
                          class="btn btn-sm bg-primary">
                          <i class="ion-ios-download"></i> Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </th:block>
  <!-- REQUIRED SCRIPTS -->
  <!-- jQuery -->
  <script th:src="@{/resources/admin/plugins/jquery/jquery.min.js}"></script>
  <!-- Bootstrap 4 -->
  <script
    th:src="@{/resources/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- AdminLTE App -->
  <script th:src="@{/resources/admin/dist/js/adminlte.min.js}"></script>
  <!-- AdminLTE for demo purposes -->
  <script th:src="@{/resources/admin/dist/js/demo.js}"></script>
  <!-- Summernote -->
  <script
    th:src="@{/resources/admin/plugins/summernote/summernote-bs4.min.js}"></script>
  <script>
			$(function() {
				// Summernote
				$('.textarea').summernote()
			})
		</script>
  <!-- ToolTip -->
  <script>
			$(document).ready(function() {
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
</body>
</html>