<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
	layout:decorate="~{/layout/admin-layout.html}">

<head >
	<title>Quản lý tài khoản</title>
	<th:block layout:fragment="scripts">
		<script th:src="@{/resources/admin/js/my-js/admin-user.js}"></script>
	</th:block>
</head>

<body class="hold-transition sidebar-mini" th:with="isAdminUserPage=true">
	<th:block layout:fragment="main">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- Pop-up Create -->
					<div class="col-lg-12">

						<!-- The Modal Create User -->
					</div>
					<!-- Table -->
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<div class="clearfix">
									<button type="button" class="btn btn-sm card card-body m-0 p-2 shadow float-left"
										data-toggle="modal" data-target="#createModal">Create
										New</button>

									<div class="float-right">
										<form id="search-form" th:action="@{${url}}" method="get"
											th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text">By Email</span>
												</div>
												<input name="email" type="text" class="form-control">
												<input name="sortBy" type="hidden" class="form-control">
												<div class="input-group-append">
													<button type="submit"
														class="btn btn-outline-secondary">Search</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="card-body shadow">
								<div class="show-item table">
									<table id="example" class="display table table-hover table-striped nowrap"
										style="width: 100%;">
										<thead>
											<tr class="text-light btn-primary">
												<th>ID</th>
												<th>Email</th>
												<th>Full-Name</th>
												<th>Active</th>
												<th>Role</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user:${page.content}">
												<td th:text="${user.id}">Tiger Nixon</td>
												<td th:text="${user.email}"></td>
												<td th:text="${user.name}">Edinburgh</td>
												<td th:text="${user.active}"></td>
												<td th:text="${user.role.name}">61</td>
												<td><a class="btn btn-outline-primary update-user-btn"
														th:attr="data-id=${user.id}"
														href="javascript:void(0)">Update</a> <a class="btn btn-danger"
														onclick="return confirm('Are you sure?');" href="#">Delete</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card-footer bg-white d-flex justify-content-end">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li th:if="${page.first==false}" class="page-item"><a class="page-link"
												th:href="@{${url}(pageIndex=${page.number})}" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
												<span class="sr-only">Previous</span>
											</a></li>
										<li class="page-item" th:classappend="${item}==(${page.number}+1) ? active:''  "
											th:each="item: ${#numbers.sequence(1,page.totalPages) }"><a th:text=${item}
												class="page-link" th:href="@{${url}(pageIndex=${item})}">1</a></li>
										<li th:if="${page.last==false}" class="page-item"><a class="page-link"
												th:href="@{${url}(pageIndex=${page.number}+2)}" aria-label="Next"> <span
													aria-hidden="true">&raquo;</span>
												<span class="sr-only">Next</span>
											</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</th:block>
	<th:block layout:fragment="additional-fragments">
		<div th:replace="fragments/admin/user-admin/create-user-modal :: create-user-modal"></div>
		<div th:replace="fragments/admin/user-admin/edit-user-modal :: edit-user-modal"></div>
	</th:block>
</body>

</html>