<!-- The Modal Edit User -->
<div th:fragment="edit-user-modal" class="modal" id="editModal"
	xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h3 class="modal-title">Edit User</h3>
				<button type="button" class="close" data-dismiss="modal">x</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<form id="edit-user-form">
					<input type="hidden" name="id">
					<div class="form-group">
						<label for="uname">Email:</label> <input name="email" type="text"
							class="form-control" placeholder="Enter email" value="3" disabled
							>
						<p class="text-danger"></p>
					</div>
					<div class="form-group">
						<label for="pwd">Full Name:</label> <input name="name"
							type="password" class="form-control"
							placeholder="Enter full name" disabled >
						<p class="text-danger"></p>
					</div>
					<div class="form-group">
						<label for="pwd">Password:</label> <input type="password"
							class="form-control" placeholder="Enter password" name="password"
							>
						<p class="text-danger"></p>
					</div>
					<div class="row">
						<div class="col form-group">
							<label for="gender">Role:</label> <select class="form-control"
								name="role" required>
								<option disabled class="text-secondary">Select Role</option>
								<option value="ROLE_ADMIN">ROLE_ADMIN</option>
								<option value="ROLE_STUDENT">ROLE_STUDENT</option>
							</select>
							<p class="text-danger"></p>
						</div>
						<div class="col form-group">
							<label for="gender">Active:</label> <select class="form-control"
								name="active" required>
								<option disabled class="text-secondary">Select Status</option>
								<option value="true">ACTIVE</option>
								<option value="false">UNACTIVE</option>
							</select>
							<p class="text-danger"></p>
						</div>
					</div>
					<!-- Modal footer -->
					<div
						class="modal-footer d-flex justify-content-between align-baseline">
						<p class="form-message"></p>
						<button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>